{% extends'AdminBundle:Layout:base.html.twig' %}

{% block body %}
<section id="section-partner-index">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ path('admin_partner_edit') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Partner</a>
                </div>
            </div>
        </div><!-- row -->


        <div class="row">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for p in partners %}
                <tr>
                    <td>{{ p.name|truncate(45, '...') }} (<a href="{{ p.link }}" target="_blank">Link</a>)</td>
                    <td>{{ p.link }}</td>
                    <td>{{ p.created | date('jS M Y, g:ia ') }}</td>
                    <td>
                        <a href="{{ path('admin_partner_edit', {'id':p.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                        {% if p.active == 1 %}
                            <a href="{{ path('admin_partner_toggle', {'id':p.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-close"></span> </a>
                        {% else %}
                            <a href="{{ path('admin_partner_toggle', {'id':p.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span> </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div><!-- row -->


    </div><!-- container -->
</section>
{% endblock body %}
