{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}

<!-- PARTNER SECTION -->
<section class="" id="section--partner-partner">
    <div class="constrained soft--top">
        <div class="row">
            <div class="col-md-12 text-center push--top hidden-sm hidden-xs">
                <img src="{{ asset('/bundles/website/images/menu_divider_top.png') }}"  width="1000px" height="66px" />
            </div>
            <div class="col-md-12 text-center">
                <h2>RAISE DOUGH FOR {{ partner.name }}</h2>

                {% if app.session.flashbag.get('notice') is iterable or
                    app.session.flashbag.get('success') is iterable
                 %}
                    <div class="flashMessages">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice alert alert-warning" role="alert">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="flash-success alert alert-success" role="alert">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.name, 'Name') }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class':'form-control', 'required':'required'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class':'form-control', 'required':'required'}}) }}
                    </div>

                    {{ form_widget(form.submit, {'attr': {'class':'btn btn-primary'}}) }}

                {{ form_end(form) }}

                <p>You will receive registration confirmation via email, please present this in-store at MELT
                on {{ partner.eventDate | date('jS M, Y') }} and 25% of the sale proceeds from the pizzas you and community buys will
                be donated back to {{ partner.name }} by way of fundraising. Good luck!</p>

            </div><!-- col -->

            <div class="col-md-12 text-center push--top hidden-sm hidden-xs" id="menu--bottom-divider">
                <img src="{{ asset('/bundles/website/images/menu_divider_bottom.png') }}"  width="1000px" height="66px" />
            </div>

        </div><!-- row -->
    </div><!-- constrained -->
</section>

{% include 'WebsiteBundle:Layout:booking_modal.html.twig' %}
{% endblock body %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    setTimeout(function() {
        $('#layout--header').fadeIn();
    }, 1000);
});
</script>
{% endblock javascript %}

