{% extends 'AdminBundle:Layout:base.html.twig' %}

{% block body %}
<section id="section-media-edit">

<div class="container">
    <div class="row">

        <div class="col-md-6">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Media</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        {{ form_label(form.title, 'Title') }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.link, 'Article Link') }}
                        {{ form_errors(form.link) }}
                        {{ form_widget(form.link, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.author, 'Author') }}
                        {{ form_errors(form.author) }}
                        {{ form_widget(form.author, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.created, 'Date Published') }}
                        {{ form_errors(form.created) }}
                        {{ form_widget(form.created, {'attr': {'class':'form-control'}}) }}
                    </div>

                </div><!-- panel-body -->

                <div class="panel-footer" style="text-align: right;">
                    <a href="{{ path('admin_media_index') }}">Cancel</a>&nbsp;&nbsp; 
                    {{ form_widget(form.save, {'attr': {'class':'btn btn-default'}}) }}
                </div>
            </div><!-- panel -->

        {{ form_end(form) }}
        </div><!-- col -->

    </div><!-- row -->
</div><!-- container -->
</section>
{% endblock body %}
