{% extends'AdminBundle:Layout:base.html.twig' %}

{% block body %}
<section id="section-media-index">
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for m in media %}
            <tr>
                <td>{{ m.title|truncate(45, '...') }} (<a href="{{ m.link }}" target="_blank">Link</a>)</td>
                <td>{{ m.author }}</td>
                <td>{{ m.created }}</td>
                <td>
                    <a href="{{ path('admin_media_edit', {'id':m.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    {% if m.active == 1 %}
                        <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-close"></span> Disable</button>
                    {% else %}
                        <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye"></span> Enable</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</section>
{% endblock body %}
