{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}
<!-- LANDING SECTION -->
<div class="constrained">
    <div class="top--nav row">
        <div class="col-md-3">
            <span class="header">Dine In or Take Away</span>
            Online Ordering Soon
        </div>

        <div class="col-md-6 text-center">
            <span class="header">Phone 1300 11 MELT - 171 Chapel St. Windsor</span>
            Open Everyday From Midday
        </div>

        <div class="col-md-3 text-right">
            <span class="header">Contact</span>
        </div>
    </div>

    <!-- MAIN NAV -->
    <div class="row" id="body-nav--container">
        <div class="col-md-4 col-sm-12 text-right body-nav--item">
            <img src="{{ asset('/bundles/website/images/body_nav__menu.png') }}" width="125px" height="42px" />
        </div>

        <div class="col-md-4 col-sm-12">
            <img src="{{ asset('/bundles/website/images/body_logo.png') }}" width="330px" height="312px" />
        </div>

        <div class="col-md-4 col-sm-12 body-nav--item">
            <img src="{{ asset('/bundles/website/images/body_nav__order.png') }}" width="125px" height="42px" />
        </div>

        <div class="col-md-12 col-sm-12 text-center body-nav--bottom">
            <img src="{{ asset('/bundles/website/images/body_nav__about.png') }}" width="125px" height="42px" />
        </div>
    </div>

    <p class="melt-excerpt push--top">When pizza was invented in Naples, Italy over 200 years ago it was a fast 
    and nutritious meal. At Melt it still is.</p>
</div>



<!-- MENU SECTION -->
<div class="melt-reversed push--top" id="instafeed"></div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_01.jpg') }}" />
        <img src="{{ asset('/bundles/website/images/border_img_slide_02.jpg') }}" />
    </div>
</div>

<!-- ABOUT SECTION -->
<div class="melt-marbled" id="section--about">
    <div class="contrained soft--top">
        <div class="row">
            <div class="col-md-12 text-center about--header">
                <h2 class="body-header header--about">About</h2>
                <p class="melt-excerpt">Click an icon to find out more</p>
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_napoli.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fresh.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_dough.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_custom.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_400.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fast.png') }}"  width="180px" height="180px" />
            </div>

        </div>
    </div>
</div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_02.jpg') }}" />
        <img src="{{ asset('/bundles/website/images/border_img_slide_01.jpg') }}" />
    </div>
</div>

<!-- MENU SECTION -->
<div class="" id="section--menu">
    <div class="constrained soft--top">
        <div class="row">

            <div class="col-md-12 text-center menu--header push--bottom">
                <h2 class="body-header header--menu">Menu</h2>
            </div>

            <div class="col-md-12 text-center push--ends">
                <img src="{{ asset('/bundles/website/images/menu_11_inch.png') }}"  width="645px" height="42px" />
            </div>

            <!-- left -->
            <div class="col-md-5 text-center push--top">
                <p class="menu-type-img"><img src="{{ asset('/bundles/website/images/menu_pizza_type_classic.png') }}"  width="307px" height="247px" /></p>

                <div class="menu-item">
                    <h4 class="menu-item--title">MARGHERITA $11</h4>
                    <p>Crushed tomato, fresh mozzarella, basil, extra virgin,<br />olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SMOKED HAM AND RICOTTA $13</h4>
                    <p>Free range smoked ham, fresh ricotta, fresh mozzarella, crushed tomato, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ROASTED PUMPKIN $14</h4>
                    <p>Oven roasted pumpkin, spinach, fresh mozzarella, Meredith goats cheese, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">HOT SALAMI $14</h4>
                    <p>Oven roasted mixed mushrooms, fresh mozzarella, kalamata olives, crushed tomato, fresh chilli, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">MIXED MUSHROOMS $14</h4>
                    <p>Oven roasted mixed mushrooms, fresh mozzarella, sweet gorgonzola, baby peas,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SAN DANIELE PROSCIUTTO $15</h4>
                    <p>San Daniele prosciutto, rocket, fresh mozzarella, crushed tomato,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ITALIAN SAUSAGE $15</h4>
                    <p>Free range pork, fennel and white wine sausage, friarelle (broccoli rabe), fresh mozzarella, crushed tomato,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">PRAWN + BACON $18</h4>
                    <p>Queensland prawns, crispy bacon, fresh chilli, rocket, crushed tomato, extra virgin olive oil</p>
                </div>

            </div>

            <div class="col-md-2 text-center push--top">
                &nbsp;
            </div>

            <!-- right -->
            <div class="col-md-5 text-center push--top">
                <p class="menu-type-img"><img src="{{ asset('/bundles/website/images/menu_pizza_type_custom.png') }}"  width="307px" height="247px" /></p>

                <div class="menu-item">
                    <h4 class="menu-item--title">RED BASE $9</h4>
                    <p>Crushed tomato, wild oregano, garlic, olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">WHITE BASE $10</h4>
                    <p>Fresh mozzarella, wild oregano, garlic, olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">GREEN BASE $11</h4>
                    <p>Basil pinenut pesto, fresh mozzarella, olive oil</p>
                </div>


                <div class="menu-type--add"><img src="{{ asset('/bundles/website/images/menu_type_add.png') }}"  width="165px" height="75px" /></div>

                <!-- ADD MENU -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="menu-item">
                            <h4 class="menu-item--title">ALL NATURAL PROTIENS $3</h4>
                            <ul class="nav">
                                <li>Smoked ham</li>
                                <li>San daniele</li>
                                <li>Prosciutto (after bake)</li>
                                <li>Italian sausage</li>
                                <li>Meatballs</li>
                                <li>Chicken</li>
                                <li>Anchovies</li>
                                <li>Bacon</li>
                                <li>Queensland Prawns ($6)</li>
                            </ul>
                        </div>

                        <div class="menu-item">
                            <h4 class="menu-item--title">PREMIUM CHEESES $2</h4>
                            <ul class="nav">
                                <li>Fresh mozzarella</li>
                                <li>Ricotta</li>
                                <li>Gorgonzola</li>
                                <li>Goats Cheese</li>
                                <li>Vegan Cheese ($3)</li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="menu-item">
                            <h4 class="menu-item--title">VEGGIES $1</h4>
                            <ul class="nav">
                                <li>Olives</li>
                                <li>Capers</li>
                                <li>Pine nuts (after bake)</li>
                                <li>Peas</li>
                                <li>Rocket</li>
                                <li>(after bake)</li>
                                <li>Caramelised Onion</li>
                                <li>Roasted Pumkin</li>
                                <li>Wilted spinach</li>
                                <li>Roasted capsicum</li>
                                <li>Pineapple</li>
                                <li>Friarelle/Broccoli Rabe</li>
                                <li>($2)</li>
                                <li>Mixed mushrooms ($2)</li>
                                <li>Eggplant</li>
                                <li>($2)</li>
                            </ul>
                        </div>

                        <div class="menu-item">
                            <h4 class="menu-item--title">FREEBIES 0</h4>
                            <ul class="nav">
                                <li>Oregano</li>
                                <li>Basil</li>
                                <li>Garlic Oil</li>
                                <li>Fresh Chilies</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div><!-- RIGHT -->

            <!-- MENU FOOTER -->
            <div class="col-md-12 text-center">
                <h4 class="menu-item--title">PREMIUM GLUTEN-FREE CRUST AVAILIBLE</h4>
            </div>

        </div><!-- ROW -->
    </div><!-- contrained -->
</div><!-- #section--menu -->

{% endblock body %}


{% block javascript %}
<script type="text/javascript">
var feed = new Instafeed({
    get: 'tagged',
    tagName: 'pizza',
    limit: 5,
    clientId: '305682da7f0b46b3a868fe8a7680cba0'
});
feed.run();

$(function() {
    $('.border-image-slide').superslides({
        play                : 10000,
        animation           : 'fade',
        animation_speed     : 'slow',
        inherit_height_from : '.border-image-slide',
    });

    $(window).scroll(function(){
        if($(document).scrollTop() > 500)
        {
            $('#layout--header').fadeIn();
        }

        if($(document).scrollTop() < 100)
        {
            $('#layout--header').fadeOut();
        }
    });
});
</script>
{% endblock javascript %}
