{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}
<!-- LANDING SECTION -->
<div class="constrained">
    <div class="top--nav row">
        <div class="col-md-3">
            <span class="header">Dine In or Take Away</span>
            Online Ordering Soon
        </div>

        <div class="col-md-6 text-center">
            <span class="header">Phone 1300 11 MELT - 171 Chapel St. Windsor</span>
            Open Everyday From Midday
        </div>

        <div class="col-md-3 text-right">
            <span class="header">Contact</span>
        </div>
    </div>

    <!-- MAIN NAV -->
    <div class="row" id="body-nav--container">
        <div class="col-md-4 col-sm-12 text-right body-nav--item">
            <img src="{{ asset('/bundles/website/images/body_nav__menu.png') }}" width="125px" height="42px" />
        </div>

        <div class="col-md-4 col-sm-12">
            <img src="{{ asset('/bundles/website/images/body_logo.png') }}" width="330px" height="312px" />
        </div>

        <div class="col-md-4 col-sm-12 body-nav--item">
            <img src="{{ asset('/bundles/website/images/body_nav__order.png') }}" width="125px" height="42px" />
        </div>

        <div class="col-md-12 col-sm-12 text-center body-nav--bottom">
            <img src="{{ asset('/bundles/website/images/body_nav__about.png') }}" width="125px" height="42px" />
        </div>
    </div>

    <p class="melt-excerpt push--top">When pizza was invented in Naples, Italy over 200 years ago it was a fast 
    and nutritious meal. At Melt it still is.</p>
</div>



<!-- MENU SECTION -->
<div class="melt-reversed push--top" id="instafeed"></div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_01.jpg') }}" />
        <img src="{{ asset('/bundles/website/images/border_img_slide_02.jpg') }}" />
    </div>
</div>

<!-- ABOUT SECTION -->
<div class="melt-marbled" id="section--about">
    <div class="contrained soft--top">
        <div class="row">
            <div class="col-md-12 text-center about--header">
                <h2 class="body-header header--about">About</h2>
                <p class="melt-excerpt">Click an icon to find out more</p>
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_napoli.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fresh.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_dough.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_custom.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_400.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fast.png') }}"  width="180px" height="180px" />
            </div>

        </div>
    </div>
</div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_02.jpg') }}" />
        <img src="{{ asset('/bundles/website/images/border_img_slide_01.jpg') }}" />
    </div>
</div>

<!-- MENU SECTION -->
{% endblock body %}


{% block javascript %}
<script type="text/javascript">
var feed = new Instafeed({
    get: 'tagged',
    tagName: 'pizza',
    limit: 5,
    clientId: '305682da7f0b46b3a868fe8a7680cba0'
});
feed.run();

$(function() {
    $('.border-image-slide').superslides({
        play                : 10000,
        animation           : 'fade',
        animation_speed     : 'slow',
        inherit_height_from : '.border-image-slide',
    });

    $(window).scroll(function(){
        if($(document).scrollTop() > 200)
        {
            $('#layout--header').fadeIn();
        }

        if($(document).scrollTop() < 100)
        {
            $('#layout--header').fadeOut();
        }
    });
});
</script>
{% endblock javascript %}
