{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}
<div class="push--top constrained" id="section--mobile-top">
    <div class="row">
        <div class="hidden-lg hidden-md col-xs-12 col-sm-12 text-center">
            <img src="{{ asset('/bundles/website/images/body_logo.png') }}" width="280px" height="265px" />
        </div>
    </div>
</div>

<!-- LANDING SECTION -->
<div class="constrained" id="section--top">
    <div class="top--nav row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <span class="header">Dine In or Take Away</span>
            Online Ordering Soon
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <span class="header">Phone 1300 11 MELT - 171 Chapel St. Windsor</span>
            Open Everyday From Midday
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 text-right">
            <span class="header"><a href="##section--contact">Contact</a></span>
        </div>
    </div>

    <!-- MAIN NAV -->
    <div class="row" id="body-nav--container">
        <div class="col-md-4 col-sm-12 text-right body-nav--item">
            <a href="##section--menu"><img src="{{ asset('/bundles/website/images/body_nav__menu.png') }}" width="125px" height="42px" /></a>
        </div>

        <div class="col-md-4 col-sm-12 hidden-sm hidden-xs">
            <img src="{{ asset('/bundles/website/images/body_logo.png') }}" width="330px" height="312px" />
        </div>

        <div class="col-md-4 col-sm-12 body-nav--item">
            <a href="##section--about"><img src="{{ asset('/bundles/website/images/body_nav__about.png') }}" width="125px" height="42px" /></a>
        </div>
    </div>

    <p class="melt-excerpt push--top">When pizza was invented in Naples, Italy over 200 years ago it was a fast 
    and nutritious meal. At Melt it still is.</p>
</div>



<!-- INSTAFEED SECTION -->
<div class="melt-reversed push--top" id="instafeed"></div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_02.jpg') }}" />
    </div>
</div>

<!-- ABOUT SECTION -->
<div class="melt-marbled" id="section--about">
    <div class="constrained soft--top">
        <div class="row" >
            <div class="col-md-12 text-center about--header">
                <h2 class="body-header header--about">About</h2>
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_napoli.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fresh.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_dough.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_custom.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_400.png') }}"  width="180px" height="180px" />
            </div>

            <div class="col-md-4 about--icons">
                <img src="{{ asset('/bundles/website/images/about_icons_fast.png') }}"  width="180px" height="180px" />
            </div>

        </div>
    </div>
</div>

<!-- BORDER IMAGE SECTION -->
<div class="border-image-slide" id="border-image--about">
    <div class="slides-container">
        <img src="{{ asset('/bundles/website/images/border_img_slide_01.jpg') }}" />
    </div>
</div>

<!-- MENU SECTION -->
<div class="" id="section--menu">
    <div class="constrained soft--top">
        <div class="row">

            <div class="col-md-12 col-xs-11 text-center menu--header push--bottom">
                <h2 class="body-header header--menu">Menu</h2>
            </div>

            <div class="col-md-12 text-center push--ends hidden-sm hidden-xs">
                <img src="{{ asset('/bundles/website/images/menu_11_inch.png') }}"  width="1000px" height="66px" />
            </div>

            <!-- left -->
            <div class="col-md-5 text-center push--top">
                <p class="menu-type-img"><img src="{{ asset('/bundles/website/images/menu_pizza_type_classic.png') }}"  width="307px" height="247px" /></p>

                <div class="menu-item">
                    <h4 class="menu-item--title">MARGHERITA $11</h4>
                    <p>Crushed tomato, fresh mozzarella, basil, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SMOKED HAM AND RICOTTA $13</h4>
                    <p>Free range smoked ham, fresh ricotta, fresh mozzarella, crushed tomato, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ROASTED PUMPKIN $14</h4>
                    <p>Oven roasted pumpkin, spinach, fresh mozzarella, pine nuts, Meredith goats cheese, extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">HOT SALAMI $14</h4>
                    <p>Spicy salami, caramelised onion, fresh mozzarella, kalamata olives, crushed tomato, fresh chilli</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">MIXED MUSHROOMS $14</h4>
                    <p>Mixed mushrooms, fresh mozzarella, sweet gorgonzola, baby peas,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SAN DANIELE PROSCIUTTO $15</h4>
                    <p>San Daniele prosciutto, rocket, fresh mozzarella, crushed tomato,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ITALIAN SAUSAGE $15</h4>
                    <p>Free range Italian sausage, friarielli, fresh mozzarella, crushed tomato,extra virgin olive oil</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">PRAWN $16</h4>
                    <p>Queensland prawns, fresh chilli, capers, rocket, crushed tomato</p>
                </div>
            </div>

            <div class="col-md-2 text-center push--top hidden-sm hidden-xs">
                <img id="menu-type--or" src="{{ asset('/bundles/website/images/menu_type_or.png') }}"  width="160px" height="50px" />
                <img src="{{ asset('/bundles/website/images/menu_type_vertical_divider.png') }}"  width="15px" height="800px" />
            </div>

            <!-- right -->
            <div class="col-md-5 text-center push--top push--bottom">
                <p class="menu-type-img"><img src="{{ asset('/bundles/website/images/menu_pizza_type_custom.png') }}"  width="307px" height="247px" /></p>

                <div class="menu-item">
                    <h4 class="menu-item--title">RED BASE $9</h4>
                    <p>Crushed tomato, wild oregano, garlic oil (no cheese)</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">WHITE BASE $10</h4>
                    <p>Fresh mozzarella, wild oregano, garlic oil (no tomato)</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">GREEN BASE $11</h4>
                    <p>Basil pinenut pesto, fresh mozzarella, extra virgin olive oil</p>
                </div>


                <div class="menu-type--add"><img src="{{ asset('/bundles/website/images/menu_type_add.png') }}"  width="165px" height="75px" /></div>

                <!-- ADD MENU -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="menu-item">
                            <h4 class="menu-item--title">ALL NATURAL PROTEINS $3</h4>
                            <ul class="nav">
                                <li>Free Range Smoked Ham</li>
                                <li>Hot Salami</li>
                                <li>San Daniele Prosciutto (after bake)</li>
                                <li>Free Range Italian Sausages</li>
                                <li>Grass Fed Beef Meatballs</li>
                                <li>Free Range Chicken</li>
                                <li>Anchovies</li>
                                <li>Bacon</li>
                                <li>Queensland Prawns ($6)</li>
                            </ul>
                        </div>

                        <div class="menu-item">
                            <h4 class="menu-item--title">PREMIUM CHEESES $2</h4>
                            <ul class="nav">
                                <li>Fresh Mozzarella</li>
                                <li>Ricotta</li>
                                <li>Gorgonzola</li>
                                <li>Goats Cheese</li>
                                <li>Vegan Cheese ($3)</li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="menu-item">
                            <h4 class="menu-item--title">VEGGIES $1</h4>
                            <ul class="nav">
                                <li>Olives</li>
                                <li>Capers</li>
                                <li>Pine Nuts (after bake)</li>
                                <li>Baby Peas</li>
                                <li>Rocket</li>
                                <li>(after bake)</li>
                                <li>Caramelised Onion</li>
                                <li>Roasted Pumpkin</li>
                                <li>Spinach</li>
                                <li>Roasted Capsicum</li>
                                <li>Pineapple</li>
                                <li>Friarielli ($2)</li>
                                <li>Mixed Mushrooms ($2)</li>
                                <li>Eggplant ($2)</li>
                            </ul>
                        </div>

                        <div class="menu-item">
                            <h4 class="menu-item--title">FREEBIES $0</h4>
                            <ul class="nav">
                                <li>Wild Oregano</li>
                                <li>Fresh Basil</li>
                                <li>Garlic Oil</li>
                                <li>Fresh Chilies</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div><!-- RIGHT -->

            <!-- MENU FOOTER -->
            <div class="col-md-12 text-center menu-type--crust push--top">
                <h4 class="menu-item--title">PREMIUM GLUTEN-FREE CRUST*</h4>
                <span class="menu-item--crust-price">(+ $4)</span>
            </div>

            <div class="push--top col-md-12 text-center" id="menu-type--footer">
                <p>*Melt does not recommend this pizza for customers with gluten allergies
                due to the risk of cross contamination from our products containing flour</p>
            </div>

            <div class="col-md-12 text-center push--ends hidden-sm hidden-xs">
                <img src="{{ asset('/bundles/website/images/menu_divider_bottom.png') }}"  width="1000px" height="66px" />
            </div>


            <!-- MISC LEFT -->
            <div class="col-md-5 text-center push--top">

                <h2 class="body-header header--salads">Salads</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">ROCKET AND RADICCHIO $5/9</h4>
                    <p>Rocket, raddichio, walnuts, shaved parmsesan with a vincotto dressing</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SUPERFOOD $13</h4>
                    <p>Oven roasted  sweet potato, beetroot, broccoli, red quinoa, white quinoa,
                    red rice, pumpkin and sunflower seeds, almond flakes with a yoghurt and tahini
                    dressing</p>
                </div>


                <h2 class="push--top body-header header--sides">Sides</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">DOUGHBALLS $5</h4>
                    <p>Eight doughballs made with our all natural dough and served 
                    with garlic butter</p>
                </div>
                <div class="menu-item">
                    <h4 class="menu-item--title">MEATBALLS  $9</h4>
                    <p>Grass fed free range beef meatballs served with a spicy tomato sauce</p>
                    <p>ADD OREGANO PIZZA BREAD +4</p>

                </div>

            </div><!-- MISC LEFT -->

            <div class="col-md-2 text-center push--top">&nbsp;</div>

            <!-- MISC RIGHT -->
            <div class="col-md-5 text-center push--top">
                <h2 class="body-header header--panuzzos">Panuzzos</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">VEGETARIAN $9</h4>
                    <p>Meredith goats cheese, caramelised onions, oven roasted capsicum, rocket</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">HAM AND PESTO $10</h4>
                    <p>Free range smoked ham, basil pinenut pesto, fresh mozzarella, red onions</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">MEATBALL $11</h4>
                    <p>Grass fed free range beef meatballs, spicy tomato sauce, fresh 
                    mozzarella, oven roasted capsicum, rocket</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ITALIAN SAUSAGE $12</h4>
                    <p>Free range Italian sausage, friarielli, fresh mozzarella</p>
                </div>


                <h2 class="push--top body-header header--sweets">Sweets</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">GELATO BY 7 APPLES</h4>
                    <p>Ask staff for today's flavours
                        <br />1 scoop $4
                    </p>
                </div>

            </div><!-- MISC RIGHT -->

            <div class="col-md-12 text-center push--top hidden-sm hidden-xs">
                <img src="{{ asset('/bundles/website/images/menu_divider_top.png') }}"  width="1000px" height="66px" />
            </div>


            <!-- DRINKS -->
            <div class="col-md-12 text-center menu--header push--bottom">
                <h2 class="body-header header--drinks">DRINKS</h2>
            </div>

            <div class="col-md-5 text-center push--top">
                <h2 class="push--bottom drinks-header header--cocktails">Cocktails</h2>

                <div class="menu-item">
                    <h4 class="menu-item--title">APEROL SPRITZ $12</h4>
                    <p>Aperol topped with Canaletto Prosecco</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">ESPRESSO MARTINI $15</h4>
                    <p>Kahlua, vanilla infused vodka, cold-pressed espresso, white chocolate foam</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">BUNGA BUNGA $15</h4>
                    <p>Chilli infused vodka, aperol, ruby red grapefruit juice, lemon juice, basil, lime</p>
                </div>

                <div class="menu-item push--bottom">
                    <h4 class="menu-item--title">BAD APPLE $15</h4>
                    <p>Bacardi rum, apple juice, lime juice, soda, fresh apple, fresh mint</p>
                </div>

                <h2 class="push--ends drinks-header header--cocktail-jugs">Cocktail Jugs</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">GOLD OF NAPLES $35</h4>
                    <p>Gin, passionfruit liqueur, passionfruit juice, soda, lemon juice</p>
                </div>
                <div class="menu-item">
                    <h4 class="menu-item--title">SOPHIA LOREN $35</h4>
                    <p>Pear vodka, St Germain liqueur, elderflower, soda, lemon juice, fresh pear</p>
                </div>
                <div class="menu-item">
                    <h4 class="menu-item--title">STRAWBERRY JAM $35</h4>
                    <p>Vodka, Chambord, lemon juice, lemonade, strawberries</p>
                </div>

            </div>

            <div class="col-md-2 text-center push--top">&nbsp;</div>

            <div class="col-md-5 text-center push--top">
                <h2 class="push--bottom drinks-header header--vino">vino</h2>
                <div class="menu-item">
                    <h4 class="menu-item--title">WHITES</h4>
                    <p>2013 Cirro Sauvignon Blanc, Marlborough $8/33</p>
                    <p>2013 Tar &amp; Roses Pinot Grigio, Central Victoria $9/35</p>
                    <p>2013 Fanny Limehead Riesling, Eden Valley, $9/35</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">REDS</h4>
                    <p>2013 Gusto Mama Sangiovese, South Australia $9/35</p>
                    <p>2012 Old Money Cabernet Sauvignon, Coonawarra $10/40</p>
                    <p>2012 Art of War Shiraz, Barossa Valley $10/40</p>
                    <p>2013 Black Cottage Pinot Noir, Marlborough $10/40</p>
                    <p>2013 Cake Rose, Adelaide Hills $8/33</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">PROSECCO</h4>
                    <p>Canaletto Prosecco DOC, Italy $10/40</p>
                </div>

                <h2 class="push--ends drinks-header header--beer">Beer</h2>
                <div class="menu-item">
                    <p>Melbourne Bitter $7</p>
                    <p>Peroni, Rome $8</p>
                    <p>Menabrea, Biella $9</p>
                    <p>Kwencher Pale Ale, Melbourne $9</p>
                    <p>Monteith's Apple Cider, NZ $9</p>
                </div>

                <div class="menu-item">
                    <h4 class="menu-item--title">SOFTS</h4>
                    <p>Coke, Diet Coke $4</p>
                    <p>Capi Sodas - Blood Orange, Ginger Beer, Lemonade $4</p>
                    <p>Capi Sparkling Mineral Water $4/7</p>
                    <p>Thankyou Water $3</p>
                </div>
            </div>

            <div class="col-md-12 text-center push--top hidden-sm hidden-xs" id="menu--bottom-divider">
                <img src="{{ asset('/bundles/website/images/menu_divider_bottom.png') }}"  width="1000px" height="66px" />
            </div>

        </div><!-- ROW -->
    </div><!-- contrained -->
</div><!-- #section-menu -->


<div class="melt-marbled soft--top" id="section--contact">
    <div class="constrained text-center">
        <div class="row">
            <div class="col-md-12 text-center menu--header push--ends">
                <h2 class="push--top body-header header--contact">Contact</h2>
            </div>

            <div class="col-md-12 text-center">
                <p>Call
                <br />1300 11 MELT</p>
                <p>EMAIL
                <br /><a href="mailto:hi@melt.com.au">HI@MELT.COM.AU</a></p>

                <p>171 CHAPEL STREET WINDSOR 3181 (<a href="https://goo.gl/maps/8xIyg" target="_blank">VIEW MAP</a>)</p>

                <img src="{{ asset('/bundles/website/images/contact_smiley_mail.png') }}"  class="push--bottom" width="180px" height="105px" />
                <br />
                <img src="{{ asset('/bundles/website/images/contact_signup_header.png') }}"  class="push--bottom" id="signup-text" width="355px" height="60px" />

                <form action="{{ path('newsletter_register') }}" method="POST" id="signup-form">
                    <input size="30" name="email" type="email" class="signup--input" placeholder="EMAIL"  />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-md-12 text-center" id="contact--socials">
                <ul>
                    <li><a href="http://instagram.com/meltpizza/" target="_blank"><img src="{{ asset('/bundles/website/images/contact_social_instagram.png') }}" width="64px" height="64px" /></a></li>
                    <li><a href="#"><img src="{{ asset('/bundles/website/images/contact_social_melt.png') }}" width="64px" height="64px" /></a></li>
                    <li><a href="https://www.facebook.com/MeltPizza" target="_blank"><img src="{{ asset('/bundles/website/images/contact_social_fb.png') }}" width="64px" height="64px" /></a></li>
                </ul>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="contact--footer">
                <ul class="nav">
                    <li>&copy; MELT IP 2014</li>
                    <li><a href="{{ path('page_privacy') }}" target="_blank">PRIVACY POLICY</a></li>
                    <li>MAKE LOVE NOT WAR</li>
                    <li><a href="http://www.caniplay.com.au/" target="_blank">DESIGN BY CIP</a></li>
                </ul>
            </div>

        </div><!-- ROW -->
    </div><!-- contrained -->
</div><!-- #section-contact -->

{% endblock body %}


{% block javascript %}
<script type="text/javascript">
AA_CONFIG = {
  animationLength:  750,
  easingFunction:   'linear',
  scrollOffset:     50
};

var feed = new Instafeed({
    get: 'user',
    userId: 461693317,
    limit: 5,
    accessToken: '461693317.467ede5.0119c860c0814e4dbca28c09961e0260'
});
feed.run();

$(function() {
    $(window).scroll(function(){
        if($(document).scrollTop() > 350)
        {
            $('#layout--header').fadeIn();
        }

        if($(document).scrollTop() < 100)
        {
            $('#layout--header').fadeOut();
        }
    });
});
</script>
{% endblock javascript %}
